<div class="container-fluid booktable text-white">
    <div class="container py-5 booktable_desc">
        <h1>An Ambient <br> Dining Experience</h1>
        <h5>Join us at the table as you dine for the perfect meal. 
            We treat all of our customers with utmost care and service.
            <br>Have a toast and enjoy our fine drinks while you're at it.
        </h5>
        <button class="my-5">Book a Table</button>
    </div>
</div>

<app-specialmenu></app-specialmenu>
<app-testimonials></app-testimonials>
<app-chefdetails></app-chefdetails>
<app-footer></app-footer>